* {  
    border: 0;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
}


/* --custom-name */
:root{
    --primary-hue:270; 
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 0.9rem;
    font-family:'Quicksand', sans-serif;
    line-height: 1.6;
}

.container{
    width: 76%;
    margin-inline: auto;
    max-width: 1920px;
}

section{
    padding: 10rem 0;
    background-color: wheat;
    transition: all 500ms ease;
    text-align: center;
}

section:nth-child(even){
    background-color: white;
}

section >h2{
    text-align: center;
}

section > p{
    text-align: center;
    margin: 0.5rem auto 4rem;
    width: 40%;
}

a {
    /* color: white; */
    transition:all 500ms ease;
}

h1,h2,h3,h4,h5,h6{
    line-height: 1.1;
    color: black;
}

h1{
    font-size: 2.5rem;
}
h2{ 
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1rem;
}

h5{
    font-size: 0.8rem;
}

h6{
    font-size: 0.75rem;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.btn{
    display: inline-block;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: lightgrey;
    color: black;
    padding: 0.6rem 2.5rem;
    border: 2px solid transparent;
    border-radius: 0.8rem;
    cursor: pointer;
}

.btn:hover{
    background-color: transparent;
    border-color: lightgray;
    transform:translateY(-0.5rem); /* moves up in the Y direction when hovering*/
}

.btn.white{
    background: white;
}

.btn.white:hover{
    background: transparent;
    border-color: white;
}
.btn.primary{
    background:var(270,89%,41%);
    color: white;
}

.btn.primary:hover{
    background: transparent;
    border-color: var(270,89%,41%);
    color:var(270,89%,41%) ;
}

.btn.sm{
    padding: 0.5rem 1.2rem; /* top/bottom   left/right*/
}

/* Tablets*/
@media screen and (max-width:1024px){

    body{
        font-size: 1rem;
    }

    .container{
        width: var(90%);
    }

    section{
        padding: 8rem 0;
    }

    section >p{
        width: 72%;
        margin-bottom: 3rem;
    }

    h1{
        font-size: 2rem;
    }
    
}

/*Phone*/

@media screen and (max-width:600px){
    h1{
        font-size: 2.4rem;
    }
    h2{ 
        font-size: 1.8rem;
    }
    
    h3{
        font-size: 1.4rem;
    }
    
    h4{
        font-size: 1rem;
    }
    
    .btn{
        padding: 0.6rem 1.5rem;
    }

    section >p{
        width: var(90%);
    }

}